.body {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,calibri light,helvetica neue,sans-serif-light;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar {
      padding: 25px;
      border: 2px solid;
      color:  #117864;
      font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
}

.navbar-left {
    display: block;
    float: left;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-left: 50px;
    border: 2px solid;
}

.navbar-right {
    display: block;
    float: right;
    word-spacing: 5px;
    letter-spacing: 3px;
    padding-right: 50px;
}
